@import "vars";
@import "global";
@import "fonts";
@import "media";
/* start header */
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}
.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}
.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}
/* end header */
/* start search */
.search-block {
  background-image: url(../images/main-block-bg.jpg);
  height: 533px;
  /* position: relative; */
  .container {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
.search-block__inner {
  padding-top: 160px;

  line-height: 30px;
  font-family: "Roboto-Regular" sans-serif;
  text-align: center;
  &-title {
    @include f700;
    font-size: 48px;
    color: #fff;
  }
  &-text {
    font-size: 20px;
    color: #fff;
    padding: 25px 0 50px 0;
  }

  &-form {
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    input {
      padding: 17px 21px;
      border-radius: 4px;
      display: block;
      height: 56px;
      width: 100%;
      border: none;
      font-style: 14px;
      font-weight: 500;
      &::placeholder {
        color: #90a4ae;
      }

      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
    }
    button {
      height: 17px;
      right: 10px;
      top: 18px;
      position: absolute;
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
}
/* end search */
/* start products */
.products {
  padding: 110px 0;
  background-color: $grey;
  margin-bottom: 120px;
  .container-fluid {
    max-width: 1920px; /* ограничил ширину  */
  }
}
.products__title {
  color: $bg;
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
  }
  & + button {
    margin-left: 5px;
  }
}
.products__inner-box {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  background-color: #ffffff;
  &-img {
    min-height: 250px;

    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    color: $bg;
    @include f500;
    font-style: 18px;
    display: block;
  }
  &-category {
    display: block;
    font-size: 14ps;
    color: $green;
  }
  &-price {
    font-style: 20px;
    color: $bg;
    @include f700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }

    .span {
      font-size: 14px;
      @include f500;
    }
  }
}
.products__bottom-btn {
  margin: 45px 5px 0;
  text-align: center;

  button {
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
  }
}

/* end products */
/* start slider */
.slider {
  .container-fluid {
    max-width: 1920px;
  }
  &-title {
    font-size: 36px;
    text-align: center;
    @include f700;
    padding-bottom: 60px;
  }
}
.slick-slider {
  .slick-list {
    padding-left: 11px;
  }
  .slick-dots {
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-bottom: 120px;

    .slick-active {
      button {
        background-color: $green;
      }
    }
    li + li {
      padding-left: 3px;
    }
    button {
      outline: none;
      border-width: 0;
      padding: 0;
      cursor: pointer;
      font-size: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: rgb(232, 232, 232);
    }
  }
}

/* end slider */
/* starts stars */
.products__item-star {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  .jq-ry-container {
    padding: 3px 10px;
  }
}
/* stars ends */
/* choose-block starts */
.choose {
  .container-fluid {
    background-color: $bg;
    height: 613px;
    .choose__inner {
      &-title {
        color: #fff;
        padding: 120px 0 85px;
      }
    }
  }
}

.choose-block {
  display: flex;
  justify-content: center;
  align-items: center;
  .block-box + .block-box {
    padding-left: 30px;
  }
  .block-box {
    max-width: 370px;
    .chosse__inner-content {
      transition: all 0.3s;
      &:hover {
        .chosse__inner-image {
          path {
            fill: #fff;
                   }
        }
        .chosse__inner-image {
          background-color: $green;
        }
        .chosse__inner-title {
          color: $green;
        }
      }
      text-align: center;
      .chosse__inner-image {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all 0.3s;
      }
      .chosse__inner-title {
        padding-bottom: 30px;
        @include f500;
        color: #fff;
        font-size: 24px;
        transition: all 0.3s;
      }
      .chosse__inner-text {
        font-size: 15px;
        padding-bottom: 5px;
        color: #b0bec5;
      }
    }
  }
}
.svg-inline--fa {
  height: 65px;

  path {
    fill: black;
    height: 150px;
  }
}
.svg-inline--fa.fa-w-16 {
  width: 4em;
}

/* choose-block end */
